
/*========== BASE ==========*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s linear;
}
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* 页面间平滑滚动 */
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    /* 文字抗锯齿 */
    -webkit-font-smoothing: antialiased;
}
img {
    max-width: 100%;
    height: auto;
}
ul{
    list-style: none;
}
a {
    text-decoration: none;
    color: hsl(196, 100%, 73%);
}
button {
    cursor: pointer;
    outline: none;
    border: none;
}