/*========== SECTION ==========*/
section {
    background: #f8f8f8;
    padding: 2rem 9%;
}

/*
section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 9%;
    padding: 6.5rem 0 2rem 0;
    background: #f8f8f8;
}


section:nth-of-type(odd) {
    color: black;
    background: white;
}

section:nth-of-type(even) {
    color: rgba(255, 255, 255, 0.8);
    background: rgb(0, 0, 0);
}
*/

section .Title {
    font-size: 6rem;
    font-weight: 600;
    letter-spacing: 0.5rem;
    color: #000;
    opacity: .1;
}

.section-title {
    margin: 6rem 0;
    text-align: center;
    font-size: 4rem;
    letter-spacing: 1rem;
    color: rgba(34, 34, 34, 0.1);
}

.dark-theme section,
.dark-theme footer {
    background: #131417;
    color: rgb(223, 221, 221);
}

.dark-theme .section-title {
    color: rgb(223, 221, 221);
}