@import url('https://fonts.font.im/css?family=Parisienne|Roboto|Cinzel Decorative|Bellefair:wght@300;400;500;600;700&display=swap');
/* ============ Config =========== */
@import "./config/variables.css";

/* ================ Base ============== */
@import "./base/base.css";
@import "./base/selection.css";
@import "./base/scroolbar.css";
@import "./base/section.css";


/* ============ Components =========== */
@import "./components/header.css";
@import "./components/home.css";
@import "./components/about.css";
@import "./components/video.css";
@import "./components/contact.css";
@import "./components/community.css";
@import "./components/footer.css";


/* ============ Container =========== */
@import "./container/swiper-button.css";
@import "./container/swiper-pagination.css";
@import "./container/social.css";
@import "./container/mac-container.css";
@import "./container/website-tabs.css";
@import "./container/cookie.css";

/* ============ Theme =========== */
@import "./theme/darkTheme.css";
/* ============ Layout =========== */
@import "./layout/layout.css";
@import "./layout/mobile.css";

.about-link-item {
    -webkit-animation: fade-in-bottom 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-bottom 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    /* -webkit-animation: fade-in .8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; */
    /* animation: fade-in .8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; */
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}