.about {
    min-height: inherit;
    display: flex;
    flex-direction: column;
    padding: 6.5rem 0;
}

.about__title {
    font-size: 4rem;
    margin: 6rem 0;
    text-align: center;
}

.about-wrapper {
    width: 100%;
    padding: 0 9%;
    position: relative;
}

.about-wrapper-bg {
    position: absolute;
    top: 3%;
    left: 9%;
    height: 100%;
    z-index: -1;
}

.about-links {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 4rem 1rem;
    place-items: center;
    width: 100%;
}

.about-link-item {
    position: relative;
    background-color: hsla(0, 0%, 100%, .76);
    /* box-shadow: 0 4px 16px hsla(357, 25%, 15%, .1); */
    /* border-radius: .75rem; */
    border-radius: 1.25rem;
    transform: scale(0.95);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    text-align: center;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
}

.about-link-item img {
    width: 10rem;
    height: 10rem;
    margin: 3rem 3rem 7rem 3rem;
    transition: all .3s cubic-bezier(0, 0, 0.88, 1.01);
    -webkit-transition: all .3s cubic-bezier(0, 0, 0.88, 1.01);
    filter: opacity(0.5) grayscale(1);
    -webkit-filter: opacity(0.5) grayscale(1);
}

.about-link-item span {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -20%);
    -webkit-transform: translate(-50%, -20%);
    color: var(--title-color);
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    white-space: nowrap;
    text-transform: capitalize;
    transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
}

.about-link-item:hover {
    box-shadow: 5px 12px 20px rgb(36 37 38 / 13%);
    /* filter: none; */
    background-color: hsla(0, 0%, 100%, .87);
}

.about-link-item:hover img {
    transform: translateY(-10px);
    filter: none;
}

.about-link-item:hover span {
    color: rgb(202, 16, 93);
    /* !important */
    top: 80%;
}


/* !important */

.about-link-item {
    overflow: hidden;
    transition: all .3s ease-in-out;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
}


.about-link-item img {
    transform: translateY(15px);
    user-select: none;
    -webkit-user-select: none;
}

.about-link-item span {
    top: 120%;
    transition: all .3s ease-in .1s;
    -webkit-transition: all .3s ease-in .1s;
    opacity: 0;
}

.about-link-item:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-left: 1px solid rgba(255, 255, 255, 0.8);
}

.about-link-item:hover span {
    top: 80%;
    opacity: 1;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
}