/*===== GOOGLE FONTS =====*/
/* @import url("https://fonts.googleapis.com/css2?family=Poppins|Parisienne|Open+Sans|Poiret+One|Cinzel+Decorative|Bellefair|Quicksand|Great+Vibes:wght@300;400;500;600;700&display=swap"); */
/* @import url("https://fonts.font.im/css?family=Poppins|Cinzel+Decorative|Bellefair|Cagliostro|Parisienne:wght@300;400;500;600;700&display=swap"); */


/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --title-color: hsl(355, 4%, 15%);
    --text-color: hsl(355, 4%, 35%);
    --text-color-light: hsl(355, 4%, 55%);
    --body-color: #fff;

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Poppins', sans-serif;
    
    /*========== Contact ==========*/
    --cp-font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
    --cp-font-family-monospace: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
    --cp-color-1-hsl: 0deg 0% 100%;
    --cp-color-1: hsl(var(--cp-color-1-hsl));
}