.mac {
    position: relative;
    width: 740px;
}

.picture {
    position: absolute;
    width: 560px;
    left: 90px;
    top: 7%;
}

.mac-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    -webkit-object-fit: cover;
}