.flex {
    display: flex;
    justify-content: center;
}
.grid-container { 
    display: grid;
    grid-template-columns: repeat(3, 200px);
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 2.5rem;
    /* column-gap: 1rem; */
}
.container {
    margin: 0 auto;
}