@media screen and (max-width: 480px) {

    html {
        font-size: 6px;
    }

    *::-webkit-scrollbar {
        width: 0;
    }

    .navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100vh;
        background: rgba(36, 36, 36, .97);
        backdrop-filter: blur(16px) saturate(180%);
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10rem;
        opacity: 0;
        transition: all .5s ccubic-bezier(0.075, 0.82, 0.165, 1) .1s;
    }

    .showmenu {
        width: 100%;
        /* height: 100vh; */
        opacity: 1;
    }

    .navbar li {
        padding: 7rem 0;
    }

    .navbar li a {
        color: rgb(212, 206, 206);
        font-size: 4rem;
    }

    header {
        /* display: none; */
    }

    .nav-toggle {
        position: fixed;
        right: 4rem;
        top: 2rem;
        z-index: 4;
    }

    svg.menuToggle {
        stroke: rgba(36, 36, 36, .97);
    }

    svg.menuToggle.active {
        stroke: #fff;
        transition-delay: 0s
    }

    svg.menuToggle.active .line {
        transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    svg.menuToggle.active .line1 {
        transform: rotate(45deg) translate(5px, -6px);
    }

    svg.menuToggle.active .line2 {
        /* display: none; */
        /* opacity: 0; */
        transform: scaleX(0);
        transform-origin: center;
    }

    svg.menuToggle.active .line3 {
        transform: rotate(-45deg) translate(-13px, 0px);
    }

    .change-theme {
        transform: translate(-40px, 3px);
        font-size: 20px;
    }

    .datetime {
        display: none;
    }

    /* ==== Home ==== */
    .home .content {
        padding-left: 80px;
    }

    .home .content .content-name {
        font-size: 6rem;
    }

    .home .content {
        top: 50%;
    }

    .home .content-btn {
        margin-left: auto;
        margin-right: auto;
        margin-top: 200px;
    }

    #awwwards {
        top: 7%;
    }

    #awwwards img[alt=awwwards] {
        width: 70%;
    }

    .swiper-button-next {
        right: 0;
    }

    .social {
        top: 80%;
    }

    /* ==== About ==== */
    .about-links {
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    }

    .about-link-item img {
        filter: none !important;
    }

    .about-wrapper-bg {
        top: 17%;
        left: 2%;
    }

    /* == Contact == */
    .contact {
        display: flex;
        width: 100%;
        align-items: flex-start;
        justify-content: center;
        min-height: 50vh;
    }

    .contact .Title,
    .contact__container {
        position: relative;
    }

    .code__card.card__position {
        position: relative;
        right: initial;
        width: 340px;
        width: 96%;
        left: 2%;
    }

    .mac {
        left: 25%;
    }

    .mac-container img {
        width: 50%;
    }

    .picture {
        left: 45px;
    }

    .concact,
    .community {
        min-height: 50vh;
    }

    .footer {
        padding-top: 0;
        font-size: 6px;
    }

    .footer__inner {
        padding-top: 0;
    }

    .row {
        flex-direction: column;
    }

    .col {
        text-align: center;
        margin-top: 2rem;
    }
}